html {
    font-size: 12.5pt;
    font-family: 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}
@media (max-width: 767px) {
    html{
        font-size: 10.5pt;
    }
}


.max-w-prose {
    max-width: none;
}


div.emb {
    display: inline-block;
    width  : 100%;
}

div.emb img {
    border-radius: 15px;
    width        : 35%;
    max-width    : 350px;
    margin       : 5px;
    margin-right : 20px;
}

@media (max-width: 767px) {
    div.emb img {
        border-radius: 15px;
        width        : 40%;
        margin       : 10px;
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
}

@media (min-width: 1280px) {
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
}

@media (min-width: 1536px) {
    .\32xl\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }