html {
    font-size: 12pt;
    font-family: "Zen Kaku Gothic New", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Helvetica Neue", Helvetica, "Hiragino Sans", Arial, "Yu Gothic", Meiryo, sans-serif;
}

@media (max-width: 767px) {
    html {
        font-size: 10.5pt;
    }
}

.py-1 {
    font-size: 0.85rem;
}

.max-w-prose {
    max-width: none;
}


div.emb {
    display: inline-block;
    width: 100%;
}

div.emb img {
    border-radius: 15px;
    width: 35%;
    max-width: 350px;
    margin: 5px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    div.emb img {
        border-radius: 15px;
        width: 40%;
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1536px) {
    .\32xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

article p {
    font-family: "Sawarabi Gothic", "Zen Kaku Gothic New", "Noto Sans JP", "Helvetica Neue", Helvetica, "Hiragino Sans", Arial, "Yu Gothic", Meiryo, sans-serif;
    line-height: 1.85;
}